/* CSS for body tag*/
#body{
    background-color: #ECC54F;
}
/*CSS for total data*/
.total{
    background-color: #fff;
    margin: 30px 250px 30px 250px ;
}
/*CSS for first section*/
.first img{
    height: 400px;
    width: 100%;
}
.first{
    padding: 24px;
}
.first h1{
    color: #2C3345;
    font-size: 32px;
    font-family: Inter,sans-serif;
}
.first h3{
    color: #2C3345;
    font-size: 16px;
    font-family: Inter,sans-serif;
    font-weight: 600;
    margin-bottom: -5px;
}
/*CSS for second section*/
.second{
  padding: 24px;
}
.Name{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.Name h3{
    float: left;
    width: 50%;
    font-family: Inter,sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0px 0px 35px 0px;
    color: #464D5F;
}
.Name input{
    margin: 15px 15px 10px 0px;
    width: 324px;
    height: 25px;
}
.secondBg label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.secondBg select{
    margin: 12px 15px 10px 0px;
    width: 215px;
    height: 25px;
}
.secondBg h3{
    float: left;
    width: 33.33%;
    font-family: Inter,sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0px 0px 35px 0px;
    color: #464D5F;
}
/*CSS for third division*/
.third label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.third input{
    margin: 15px 15px 35px 0px;
    width: 324px;
    height: 25px;
}
/*------------*/
.mail label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.mail input{
    margin: 15px 15px 10px 0px;
    width: 324px;
    height: 25px;
}
.mail h3{
    font-family: Inter,sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0px 0px 35px 0px;
    color: #464D5F;
}
/*---------*/
.address label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.address input{
    margin: 15px 15px 10px 0px;
    width: 680px;
    height: 25px;
}
.address h3{
    font-family: Inter,sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    color: #464D5F;
}
.address2 input{
    margin: 15px 15px 10px 0px;
    width: 324px;
    height: 25px;
}
.address2 h3{
    float: left;
    width: 50%;
    font-family: Inter,sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0px 0px 35px 0px;
    color: #464D5F;
}
/*----------------*/
.referred label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.referred input{
    margin: 15px 6px 10px 5px;
}
.referred ul{
    list-style-type: none;
}
.referred2{
    float: left;
    width: 50%;
}
.referred{
    margin: 0px 0px 0px 0px ;
}
.clear{
    clear: left;
}
/*---------------------*/
.files label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.files input{
    margin: 15px 6px 20px 5px;
    width: 680px;
    height: 25px;
}
/*-----------*/
.letter label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.letter textarea{
    margin: 15px 6px 10px 5px;
    width: 680px;
    height: 180px;
}
/*--------------*/
.cert label{
    font-size: 16px;
    font-family: Inter,sans-serif;
}
.cert input[type="text"]{
    margin: 15px 6px 10px 5px;
    width: 500px;
    height: 25px;
}
.cert input[type="date"]{
    margin: 15px 6px 10px 5px;
    width: 150px;
    height: 25px;
}
.cert button{
    margin: 5px 0px 0px 5px ;
    height: 25px;
    width: 75px;
}
/*-----------*/
.submit button{
    margin: 10px 0px 15px 0px ;
    height: 50px;
    width: 150px;
    background-color: #000;
}
.submit a {
    color: #fff;
    text-decoration: none;
}
.submit{
    display: flex;
    justify-content: center;
}